%title lorem-ipsum
%meta{:'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
%link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/app.css'}
%link{rel: 'shortcut icon', type: 'image/x-icon', href: '/images/favicon.png'}
%script{src: '/js/jquery.js'}
%script{src: '/js/app.js'}